.titleGrid h1 {
  font-family: 'Abel', sans-serif;
  font-size: 42px;
}

.titleGrid__content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  margin: 30px 0px 0px 0px;
}

.titleGrid__element {
  max-height: auto;
  width: auto;
  margin: 0 auto 20px;
  overflow: hidden;
  background: transparent;
  animation: animateGrid 0.5s;
  background-size: cover;
}

@keyframes animateGrid {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}