.titleGrid {
  /* flex-grow: 1; */
}

.titleGrid h1 {
  font-family: 'Abel', sans-serif;
  font-size: 42px;
}

.titleGrid__content {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  max-width: 1390px;
  margin: 0 auto;
  margin-top: 30px;
}

.titleGrid__element {
  max-height: auto;
  width: auto;
  margin: 0 auto 20px;
  overflow: hidden;
  background: transparent;
  animation: animateGrid 0.5s;
  background-size: cover;
}

@keyframes animateGrid {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

@media screen and (min-width: 1500px) {
  .titleGrid__content {
    max-width: none;
  }
}