.loadButton {
    background: #282c34;
    width: 100%;
    min-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    padding-top: 10px;
  }
  
  .loadButton p {
    font-size:15px;
    margin: 0;
  }
  
  .loadButton:hover {
    opacity: 0.8;
  }