.mainHeader {
    display: flex;
    text-align: center;
    background-color: #282c34;
    min-height: 200px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .mainHeader__title h1 {
    border-bottom: 1px solid #551A8B;
    display: inline-block;
    line-height: 0.85;
  }

  .mainHeader__image {
    height: 200px;
    image-resolution: 200px;
  }

  @media screen and (max-width: 400px) {

    .mainHeader__title h1 {
      display: none;
    }
    
  }