/* .mainHeader {
  display: flex;
  text-align: center;
  background-color: #282c34;
  height: 350px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainHeader__title h1 {
  border-bottom: 1px solid #551A8B;
  display: inline-block;
  line-height: 0.85;
}

.mainHeader__image {
  height: 100%;
}

@media screen and (max-width: 400px) {

  .mainHeader__title h1 {
    display: none;
  }
  
} */


.title {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
  color: white;
  font-family: alsscr;
  font-size: 50px;
  pointer-events: none;
}

@media screen and (max-width: 600px) {

  .title {
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
}

a {
  text-decoration: none;
}

.mainHeader {
  position: relative;
  height: 340px;
  width: 100%;
  cursor: url('/images/cursor.cur') 10 5, auto;
}
  
canvas {
  width: 100%;
  height: 100%;
}
.three-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* display: flex;
  justify-content: center; */
}
.scene-wrap { 
  min-width: 450px;
  width: 100%;
  height: 100%;
  margin-left: auto;
  touch-action: none;
}